header {
    color:#FBEAEB;
    background-color: #3e50a7;
    text-align: center;
    font-style: italic;
    font-size: 1.2em;
    line-height: 2em;
    font-weight: bold;
    padding: 1px;
    margin-bottom: 20px;
}

h2 {
    color:#1f3fe0;
    font-size: 30px;
}

h1, h2, h4, h6 
{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body {
    background-color:#FBEAEB;
    color:#2F3C7E;
}

#importantStuff{ 
    color:#136aec;

}

img 
{
    float: right;
    vertical-align: middle;
    border: 5px solid #e7d8d9;
}

img.p
{
    float: right;
    vertical-align: middle;
    border: 5px solid #e7d8d9; 
    margin-right: 50px;
}

ul
{
    list-style-type: disc;
    list-style-position: outside;
}

p strong
{
    color:#136aec
}

nav
{
    background-color:#3e50a7;
    line-height: 100%;
    display: block;
    margin-left: 125px;
    margin-right: 125px;
    border: 5px solid #7e8fe7;
    text-align: center;
}

nav li
{
    display: inline;
    padding-right:40px;
}

nav a:link
{
    color:#FBEAEB;
    text-decoration:none;
}
nav a:visited
{
    color:#FBEAEB;
}
nav a:hover
{
    text-decoration:underline;
}

nav a:active
{
    color:#7e8fe7;
    text-decoration:underline;
}

table
{
    border: solid 2px black;
    border-collapse: collapse;
    background-color:rgb(169, 222, 238);
}

tr, td
{
    border: solid 2px black;
    padding: 3px;
    width: 100px;
    text-align: center;
}

th
{
    border: solid 2px black;
    padding: 3px;
    width: 100px;
    text-align: center;
    background-color:#518ce6
}

caption
{
    color:#367be4
}

p.right
{
    font-weight: bold;
    font-size: 1.2em;
    color:#518ce6;
    
}

fieldset
{    
    color:#e7d8d9;
    background-color: #222d63;
    border: 5px solid #5e6ec0;
    width:200px;
    height:100px;
}

textarea
{
    color:#e7d8d9;
    background-color: #222d63;
    border: 5px solid #5e6ec0;    
    width:300px;
    height:200px;
}
