h1 {
    color:#FBEAEB;
    background-color: #3e50a7;
    text-align: center;
    font-size: 1cm;
    font-style: italic;
    line-height: 2em;
}

h2 {
    color:#1f3fe0;
    font-size: 30px;
}

h1,
h2,
h6 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
body {
    background-color:#FBEAEB;
    color:#2F3C7E;
}

